.container {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 8px;
  min-height: 40px;
  overflow: auto;
  & p,
  & blockquote,
  & span {
    white-space: pre;
  }
  & ol {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
}

.result {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-x: hidden;

  & .subtitle {
    margin-bottom: 4px;
    color: #888;
    font-weight: 600;
    font-size: 12px;
  }
}
